.footer {
  @import "./consulting";
  @import "./info";
  @import "./copyright";

  &-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  &-container {
    display: flex;
    max-width: 1050px;
    padding: 50px 0px;
    align-items: flex-start;
    flex-grow: 1;
    gap: 20px;

    @include md-max {
      flex-direction: column;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .address {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
