.advices-section {
  background-color: var(--secondary-background-color-1);
  position: relative;
  text-align: center;
  .section-container {
    padding: 80px 0px;
  }

  .section-header {
    padding: 45px 0px;
  }

  &__subtitle {
    color: var(--second-text-color, #737373);
    text-align: center;
    max-width: 470px;
  }

  .advice-cards {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    @include lg-max {
      max-width: 480px;
    }
  }
  .advice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    background-color: white;

    &__content {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      padding: 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      flex-grow: 1;
    }

    &__media {
      width: 100%;
      height: 138px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      &.single-source-of-truth {
        background-image: url(../../assets/advice_section/single_source_of_truth.jpg);
      }
      &.fastest-way-to-organaze {
        background-image: url(../../assets/advice_section/fastest_way_to_organaze.jpg);
      }
      &.get-shit-done {
        background-image: url(../../assets/advice_section/get_shit_done.jpg);
      }
      &.work-better-together {
        background-image: url(../../assets/advice_section/work_better_together.jpg);
      }
    }
  }
}
