.section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  &-container {
    display: flex;
    max-width: 1050px;
    padding: 100px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  &-header {
    display: flex;
    max-width: 864px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &-title {
    @include h2;
  }

  &-subtitle {
    @include paragraph;
  }
}
