:root {
  //text
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #fff;

  //colors
  --primary-color: #ffa62b;
  --secondary-color-1: #00a0c1;
  --secondary-color-2: #16697a;

  //background
  --dark-background-color: #252b42;
  --background-color: #fff;
  --secondary-background-color-1: #fafafa;
  --secondary-background-color-2: #f9f9f9;
  --secondary-background-color-3: #f3f3f3;

  --disabled-element-color: #8ec2f2;
}
